.navbar{
    /* background-color: red; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    /* position: fixed;
    top: 0;
    left: 0; */
}
a{
    color: blue;
}

.links :first-child{
    text-decoration: underline;
    text-decoration-color: #FFEC05;
}
.links{
    transition: all 0.5s linear;
}

.changecolor:hover{
    color: #fff;
    transform: scale(1.1);
}

.contactbtn{
    background-color: yellow;
    padding: 0 12px;
    border-radius: 50px;
    color: black;
}
